@{
	var cul = @Model.GetCultureFromDomains().ToLower();
	var selection = Umbraco.Content("967ec1a8-cc4e-4526-9ebf-cd39beec35b8")
		.Children(x => x.IsDocumentType("newsItem"), cul)
		.Where(x => x.IsVisible())
		.OrderByDescending(x => x.CreateDate);
}
@if (selection.Any())
{
	<section id="ft-blog" class="ft-blog-section">
		<div class="container">
			<div class="ft-blog-top-content d-flex justify-content-between align-items-end flex-wrap">
				<div class="ft-section-title headline pera-content">
					<span class="sub-title">News</span>
					<h2> 
						Featured News
					</h2>
				</div>
				<div class="ft-btn">
					<a class="d-flex justify-content-center align-items-center" href="project.html">More Blog</a>
				</div>
			</div>
			<div class="ft-blog-feed-content">
				<div class="row">
					@{
						var first = selection.FirstOrDefault();
						
						if (first is not null)
						{
							var fTitle = first?.Value("newsTitle");
							var fSummary = first?.Value("newsSummary");
							var fImage = first?.GetCropUrl("newsImage", "homeThumbnail");
							var fDate = first?.CreateDate;
							<div class="col-lg-6 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="ft-blog-feed-wrapper">
									<div class="ft-blog-news-feed-innerbox">
										<div class="ft-blog-feed-img">
											@* <img src="@fImage" alt="@fTitle"> *@
										</div>
										<div class="ft-blog-feed-text headline pera-content">
											<div class="ft-blog-meta d-flex justify-content-between flex-wrap">
												<div class="ft-blog-data">
													<a href="@first.Url()"><i class="far fa-calendar-alt"></i> 
														@fDate</a>
												</div>
												 
											</div>
											<h3>
												<a href="@first.Url()">@fTitle</a></h3>
											<p>
												@fSummary
											</p>
										</div>
									</div>
								</div>
							</div>
						}
						
					}
					
					<div class="col-lg-6">
						<div class="ft-blog-feed-wrapper-2">
						@foreach (var item in selection.Skip(1).Take(3))
                        					{
                        						// var isFeature = item.Value<bool>("isFeature");
                        						// if (!isFeature)
                        						// {
                        						// 	continue;
                        						// }
                        						var title = item.Value("newsTitle");
                        						var summary = item.Value("newsSummary");
                        						 var image = item.GetCropUrl("newsImage", "homeThumbnail");
                        						var pDate = item.CreateDate;
						                        <div class="ft-blog-news-feed-innerbox wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
							                        <div class="ft-blog-feed-img">
								                        <a href="@item.Url()">
								                        <img src="@image" alt="@title"></a>
							                        </div>
							                        <div class="ft-blog-feed-text headline pera-content">
								                        <div class="ft-blog-meta d-flex justify-content-between flex-wrap">
									                        <div class="ft-blog-data">
										                        <a href="@item.Url()"><i class="far fa-calendar-alt"></i> @pDate</a>
									                        </div>
									                        
								                        </div>
								                        <h3><a href="@item.Url()">@title</a></h3>
								                        <p class="text-truncate">
									                        @summary
								                        </p>
							                        </div>
						                        </div>
							
						                        
					                        }	
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

}

