@{
	Layout = "oneColumn.cshtml";
    var services = Model.Value<IEnumerable<IPublishedContent>>("services");
     var director = Model;
     var directorImage = Model.Value("profilePhoto");
    var directorName = Model.Value("fullName");
    var designation = Model.Value("designation");
    var email = Model.Value("email");
    var fb = Model.Value("facebook");
    var tw = Model.Value("twitter");

    var links = Model.Children().OfTypes("directorateTextPage");
    var siblings = Model.Ancestor().Children(x => x.Id != Model.Id);
    var units = Model.Children().OfTypes("unit");
}
    <section class="section secpadd"><div class="row single-project ">
                                         <div class="col-md-9">
                                             <h3 class="single-project-title mb-5">@directorName  
                                                 @* <small>@designation</small> *@
                                                 </h3>
                                              @Model.Value("bodyText")
                                             <div class="project-socials">
                                                 <div class="socials">
                                                     <a href="https://facebook.com/@fb" target="_blank"><i class="fa fa-facebook"></i></a>
                                                     <a href="mailto:@email" target="_blank"><i class="fa fa-envelope"></i></a>
                                                     <a href="https://twitter.com/@tw" target="_blank"><i class="fa fa-twitter"></i></a>

                                                 </div>
                                             </div>
                                         </div>

    <div class="col-md-3">
        <div class="tracksidebar">
            <div class="widget widget_text">
                <div class="team-member ">
                    <div class="team-header">
                        <img src="@directorImage" class="" alt="@directorName image" />
                    </div>
                    <div class="team-info">
                        <h4 class="name">
                            <a href="@director.Url()">@directorName</a>
                        </h4>
                        <span class="job">@designation</span>
                        <span class="job">@email</span>
                    </div>
                </div>
            </div>

            @*@if (siblings.Any())
            {
                <div class="widget widget_text">
                    <h4 class="widget-title">Others</h4>
                    <ul>
                        @foreach (var item in siblings)
                        {
                            var name = item.Value("directorateName");
                            var code = item.Value("directorateCode");
                            <li>
                                <a href="@item.Url">@name  (@code)</a>
                            </li>
                        }

                    </ul>
                </div>
            }*@

        </div>
    </div>
</div></section>
    